body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background-image: url("/projeto-barbearia/assets/img/bg.jpg");
	padding: 5px 0px;
}

.caixa {
	margin: 0 auto;
	position: relative;
	width: 940px;
}


nav {
	position: absolute;
	right: 0;
	top: 110px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	color: #FFFFFF;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover{
	text-decoration: underline;
}

.servicos {
	cursor: pointer;
	margin: 0 auto;
	padding: 50px 0;
	width: 940px;
}

.servicos li {
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
	display: inline-block;
 	margin: 0 1.5%;
	padding: 30px 20px;
	text-align: center;
	vertical-align: top;
	width: 30%;
}

.servicos li:hover {
	border-color: #808080;
	}

.servicos li:active {
	border-color: #808080;
}

.servicos li:hover h2 {
	font-size: 30px;
}

.servicos h2 {
	font-size: 28px;
	font-weight: bold;
}

.servicos-descricao {
	font-size: 18px;

}

.servicos-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer	{
	background-image: url("/projeto-barbearia/assets/img/bg.jpg");
	padding: 20px 0;
	text-align: center;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

main {
	display: block;
}

form {
	margin: 20px auto;
	padding: auto;
	width: 940px;
}

form label, form legend {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	color: silver;
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	background: black;
	border: none;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	padding: 15px 0;
	width: 10%;
}

.enviar:hover {
	background: darkgray;
}

table {
	margin: 20px 0 40px;
	padding: 20px 0;
	width: 340px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}

/*css da página inicial */

.banner {
	width: 100%;
}

.titulo-principal {
	clear: left;
	font-size: 2em;
	margin: 0 0 1em;
	text-align: center;
}

.principal {
	background: #FFFFFF;
	margin: 0 auto;
	padding: 3em 0;
	width: 940px;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	float: left;
	margin: 0 20px 20px 0;
	width: 120px;
}

.titulo-mapa {
	clear: left;
	font-size: 2em;
	font-weight: bold;
	margin: 0 0 1em;
	text-align: center;
}

.mapa {
	background: #FFFFFF;
	padding: 3em 0;
} 

.mapa-conteudo {
	margin: 0 auto;
	width: 940px;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.titulo-beneficios {
	clear: left;
	font-size: 2em;
	font-weight: bold;
	margin: 0 0 1em;
	text-align: center;
}

.beneficios {
	padding: 3em 0;
	background: #FFFFFF;

}

.conteudo-beneficios {
	margin: 0 auto;
	width: 640px;
}

.lista-beneficios {
	display: inline-block;
	margin-top: 4em;
	vertical-align: top;
	width: 40%;
}

.itens {
	line-height: 1.5;
}


.itens:before {
	content: "★";
}

.imagem-beneficios {
	box-shadow: 10px 10px 10px 0 #000000;
	opacity: 1;
	transition: 400ms;
	width: 60%;
}

.imagem-beneficios:hover {
	opacity: 0.3;
}

/*
.video {
	margin: 2em auto;
	width: 560px;
}
*/

@media screen and (max-width: 480px) {
	.caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video, .produtos, .produto-nome, .produto-itens{
		width: auto;
	}
		h1 {
		text-align: center;
	}
	nav {
		position: static;
	}
	.lista-beneficios, .imagem-beneficios {
		width: 100%;
	}
}

